<body>

  <div class="big-container">
    <h2> My Task List</h2>
    <% @tasks.each do |task| %>
    <h4>
      <%= link_to mark_as_done_path(task), method: :put do %>
        <% if task.completed == true %>
          <i class="far fa-check-square"></i>
        <% else %>
          <i class="far fa-square"></i>
        <% end%>
      <% end %>
      <%= link_to "#{task.title.capitalize}", task_path(task.id) %>
    </h4>
    <% end %>
    <div class="button-comp">
      <button type="button" class="btn btn-primary"> <%= link_to "Add Task", new_task_path(@task) %>  </button>
    </div>
  </div>
</body>

<!--  -->

