<body>

  <div class="big-container">
    <h2> My Task List</h2>
    <% @tasks.each do |task| %>
    <h4> - <%= link_to "#{task.title.capitalize}", task_path(task.id) %>  </h4>
    <% end %>
    <button type="button" class="btn btn-primary"> <%= link_to "Add Task", new_task_path(@task) %>  </button>
  </div>

</body>

